/*========= 共通設定CSS ===============*/
img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

main {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.pc{
    display:block;
    background-color: #b2dcce ;
    padding:30px;
}

.pc-inner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

}

.pc-list {
    display: flex;
    align-items: center;
    gap: 0 4rem;
}

.pc-list a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #594A4E;

}

.pc-list a:hover {
    color: #EC6015;
}

.login-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #594A4E;
}
/*-------------------------------------------------------
                        登録画面
---------------------------------------------------------*/
.main-inner{
    width:30%;
    margin: 0 auto;
}

article {
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-family: Kiwi Maru;
    font-size: 20px;
    text-align: center;
    color: #594A4E;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.contents{
    margin: 20px 0;
}
.docs-header {
    line-height: 36px;
    color: #fff;
    background-color: #666666;
    padding-left: 8px;
    border: #eeeeee solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
}

.docs-body{
    margin-top: -2px;
    padding: 8px;
    border: #eeeeee solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-text{
    font-size: 20px;
    padding: 15px 0 50px;
    padding: 15px 30px 50px;
    line-height: 30px;
    white-space: pre-wrap;
}

.show-comment{
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    border-top: 1px solid #bdbdbd;

}
.comment-and-user{
    padding: 15px 0;
}
.comment-text{
    margin: 15px auto;
    text-align: center;
}
.comment-user{
    text-align: right;
}

textarea {
    resize: vertical;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1rem;
    color: #594A4E;
    font-family: Kiwi Maru;
    width: 350px;
    height: 200px;
}

textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #71c7c8 inset;
}
.comment-area {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    align-items: center;
    margin: 2rem 0;
}

.register-section-details_flex div:first-child {
    color: #594A4E;
    font-family: Kiwi Maru;
    width: 6rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.register-btn{
    font-size: 20px;
    background-color: #717ec8 ;
    color: #fff;
    font-weight: bold;
    border: gray;
    padding: 10px 20px;
    margin:0 20px;
    border-radius: 5px;
}

.back-btn{
    font-size: 20px;
    background-color:#fff;
    color: gray;
    font-weight: bold;
    border: 1px solid;
    padding: 10px 20px;
    margin:0 20px;
    border-radius: 5px;
}

.delete-btn{
    font-size: 20px;
    background-color:#fff;
    color:crimson;
    font-weight: bold;
    border: 1px solid;
    padding: 10px 20px;
    margin:20px 20px;
    border-radius: 5px;
}