<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="blog-profile.css">
	<!-- <link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}"> -->
</head>

<body>
	<header>
		<nav class="pc">
			<div class="pc-inner">
				<ul class="pc-list">
					<li class="login-name" th:text="${adminName}">ゲスト</li>
				</ul>
				<ul class="pc-list">
					<li class="header-menu-item"><a th:href="@{/product/list}">一覧</a></li>
					<li class="header-menu-item"><a th:href="@{/product/list}">新規投稿</a></li>
					<li class="header-menu-item"><a th:href="@{/product/list}">プロフィール</a></li>
					<li class="header-menu-item"><a th:href="@{/admin/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<section>
				<h2>プロフィール</h2>
				<div class="contents">
					<div class="docs-header">
						ユーザーID
					</div>
					<div class="docs-body">
						<p>aaaaaaaaaaaa</p>
					</div>
				</div>
				<div class="contents">
					<div class="docs-header">
					ユーザー名
					</div>
					<div class="docs-body">
						<p>aaaaaaaaaaaa</p>
					</div>
				</div>
				<div class="contents">
					<div class="docs-header">
						自己紹介文
					</div>
					<div class="docs-body">
						<p>aaaaaaaaaaaa</p>
					</div>
				</div>
			</section>
		</div>
	</main>
</body>

</html>