<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog-register.css}">
</head>

<body>
	<header>
		<nav class="pc">
			<div class="pc-inner">
				<ul class="pc-list">
					<li class="login-name" th:text="${userName} + ' 様'"></li>
				</ul>
				<ul class="pc-list">
					<li class="header-menu-item"><a th:href="@{/article/list}">一覧</a></li>
					<li class="header-menu-item"><a th:href="@{/article/register}">新規投稿</a></li>
					<li class="header-menu-item"><a th:href="@{/product/list}">プロフィール</a></li>
					<li class="header-menu-item"><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<section class="register-section" th:object="${article}">
				<h2 th:text="*{articleName} + ' （編集）'"></h2>
				<form th:action="@{/article/edit/process}" method="post" enctype="multipart/form-data">
					<div class="register-section-details">
						<input type="hidden" name="articleId" th:value="*{articleId}">
						<div class="register-section-details_flex">
							<div>日付</div>
							<input type="date" name="articleDate" th:value="*{articleDate}" id="">
						</div>
						<div class="register-section-details_flex">
							<div>タイトル</div>
							<input type="text" name="articleName" th:value="*{articleName}" id="adminName" required>
						</div>
						<div class="register-section-details_flex">
							<div>内容</div>
							<textarea name="articleDetail">[[*{articleDetail}]]</textarea>
						</div>
						<div class="register-section-details_flex">
							<div>画像</div>
							<input type="file" name="articleImage">
						</div>
					</div>
					<div class="register-section-details_flex">
						<button class="back-btn" onclick="history.back();" type="button">戻る</button>
						<button class="register-btn">更新</button>
					</div>
				</form>
				<form th:action="@{/article/delete}" method="post">
					<input type="hidden" name="articleId" th:value="*{articleId}">
					<div class="register-section-details_flex">
						<button class="delete-btn">記事を削除</button>
					</div>
				</form>
			</section>
		</div>
	</main>
</body>

</html>