<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog-article.css}">
</head>

<body>
	<header>
		<nav class="pc">
			<div class="pc-inner">
				<ul class="pc-list">
					<li class="login-name" th:text="${userName} + ' 様'"></li>
				</ul>
				<ul class="pc-list">
					<li class="header-menu-item"><a th:href="@{/article/list}">一覧</a></li>
					<li class="header-menu-item"><a th:href="@{/article/register}">新規投稿</a></li>
					<li class="header-menu-item"><a th:href="@{/product/list}">プロフィール</a></li>
					<li class="header-menu-item"><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<article th:object="${article}">
				<h2 th:text="*{articleName}"></h2>
				<h3 th:text="*{articleDate}"></h3>
				<div class="display-count">
					<h3 th:text="'閲覧数： ' + *{displayCount}"></h3>
				</div>
				<div class="conteiner">
					<div class="main-text" th:text="*{articleDetail}"></div>
					<div class="show-comment">
						<h2 class="subject">この記事へのコメント</h2>
						<ul>
							<li th:each="comments:${comment}" class="comment-and-user">
								<p class="comment-text" th:text="${comments.commentDetail}">
								</p>
								<p class="comment-user"
									th:text="'Posted by ' +  ${comments.accountId} + ' at ' + ${comments.registerDate} ">
								</p>
							</li>
						</ul>
					</div>
				</div>
				<form th:action="@{/article/commesnt/process}" method="post">
					<div class="comment-area">
						<textarea class="comment-textarea" name="commentDetail" required></textarea>
						<input type="hidden" name="articleId" th:value="*{articleId}">
					</div>
					<div class="comment-area">
						<button class="back-btn" onclick="history.back();" type="button">戻る</button>
						<button class="register-btn">コメントする</button>
					</div>
				</form>
				<form th:if="${article.accountId == accountId }"
					th:action="@{/article/edit/{articleId}(articleId=*{articleId})}" method="get">
					<input type="hidden" name="">
					<div class="comment-area">
						<button class="delete-btn">記事を編集する</button>
					</div>
				</form>
			</article>
		</div>
	</main>
</body>

</html>