<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog-profile.css}">
</head>

<body>
	<header>
		<nav class="pc">
			<div class="pc-inner">
				<ul class="pc-list">
					<li class="login-name" th:text="${userName} + ' 様'"></li>
				</ul>
				<ul class="pc-list">
					<li class="header-menu-item"><a th:href="@{/article/list}">一覧</a></li>
					<li class="header-menu-item"><a th:href="@{/article/register}">新規投稿</a></li>
					<li class="header-menu-item"><a th:href="@{/profile}">プロフィール</a></li>
					<li class="header-menu-item"><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<section　th:object=${account}>
				<h2>プロフィール</h2>
				<div class="contents">
					<div class="docs-header">
						ユーザーID
					</div>
					<div class="docs-body">
						<p th:text="*{accountId}"></p>
					</div>
				</div>
				<div class="contents">
					<div class="docs-header">
						メールアドレス
					</div>
					<div class="docs-body">
						<p th:text="*{accountMailadress}"></p>
					</div>
				</div>
				<div class="contents">
					<div class="docs-header">
						ユーザー名
					</div>
					<div class="docs-body">
						<p　th:text="*{userName}"></p>
					</div>
				</div>
				<div class="contents">
					<div class="docs-header">
						自己紹介文
					</div>
					<div class="docs-body">
						<p　th:text="*{userDetail}"></p>
					</div>
				</div>
			</section>
		</div>
	</main>
</body>

</html>