<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<!-- <link rel="stylesheet" th:href="@{/css/reset.css}">-->
	<link rel="stylesheet" th:href="@{/css/login.css}"> 
</head>

<body>
    <main>
        <section>
            <h2>ログイン</h2>
            <br>
			<div th:if="${result}">
				<h1 th:text="${result}"></h1>
			</div>
			<div>
				<form th:action="@{/login/process}" method="post">
					<p>ログインIDとパスワードをご入力ください。</p>
				    <table>
				        <tr>
				            <td><input type="text" name="accountId" placeholder="ログインID" required></td>
				        </tr>
				        <tr>
				            <td class="login-pass"><input type="password" name="accountPassword" placeholder="パスワード" required></td>
				        </tr>
				    </table>
				    <div class="submit-button">
				        <button id="login" class="login_btn">ログイン</button>
				    </div>
                    <div class="login-link">
                        <a href="#" style="text-decoration:none;">ログインID・パスワードをお忘れの場合</a>
                    </div>
				</form>
			</div>
			<div class="register-id">
				<p>アカウントをお持ちでない場合はこちら</p>
				<a th:href="@{/register}" class="register-new-btn" >新規登録</a>
			</div>
        </section>
    </main>
</body>

</html>